body{
    margin:0;
    padding:0;
    background-color: rgb(77, 88, 109);
    scroll-behavior: smooth;
}
.container{
    color:aliceblue;
    display:flex;
    flex-direction:column;
    align-items:center;
position:absolute;}
header{
    position: relative;
    width:auto;
    top:0;
    right:0;
    left:0;
    display:flex;
   
    justify-content: space-between;
    padding:10px 40px;
    background-color: rgb(77, 67, 67);
    background-filter: blur(5px);
}
.head-left{
    display:flex;
    margin-left: 0px;
    justify-content: center;

}
.head-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.head-left button{
    border:none;
    padding:10px 30px;
    border-radius: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.head-left button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    opacity: 0.3;
}
.head-right {
    display: flex;
  
}
.head-right a{
    text-decoration: none;
    color: aliceblue;
    padding-left:25px;;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.hero-section{
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;

}
.hero-vid{
    width:100%;
height:100%;
position:relative;
}
.hero-video{
    width:100%;
    height:100%;
    object-fit: cover;
    
}
.hero-info{
    z-index:444;
    position: relative;
    top:80px;
    left:50px;

}
.hero-info h1{
    font-size: 60px;
    font-weight: 700;
    color: aliceblue;
}
.hero-info p{
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
}