body{
    margin:0;
    padding:0;
    background-color: rgb(77, 88, 109);
    scroll-behavior: smooth;
}
.container{
    color:aliceblue;
    display:flex;
    flex-direction:column;
    align-items:center;
position:absolute;}
header{
    position: relative;
    top:0;
    right:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 40px;
    background-color: rgb(77, 67, 67);
    background-filter: blur(5px);
}
.head-left{
    display:flex;
    align-items: center;

}
.head-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.head-left button{
    border:none;
    padding:10px 30px;
    border-radius: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.head-left button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    opacity: 0.3;
}
.head-right {
    display: flex;
  
}
.head-right a{
    text-decoration: none;
    color: aliceblue;
    padding-left:25px;;
    border-radius: 20px;
    transition: all 0.3s ease;
}